# تنظیمات Qt Creator
*.user
*.pro.user

# فایل‌های موقت کامپایل
*.o
moc_*
qrc_*
ui_*.h
Makefile
*.a

# پوشه‌های بیلد
build/
debug/
release/

# فایل‌های دیتابیس محلی (اگر نمی‌خواهی دیتای تست خودت کپی شود)
*.db
*.sqlite
